<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin: Stuypedia</title>

    <!-- Foundation Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Foundation JS -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"></script>

        <link href="../static/css/home.css" rel="stylesheet"/>
    </head>
    <body>

<div class="nav-bar">
  <div class="nav-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href='/home' title="Home"><i class="fi-home"></i> Home</a></li>
      <li><a href='/classlist' title="Class List"><i class="fi-magnifying-glass"></i> Find a Class</a></li>
      <li><a href='/logout' title="Log out"><i class="fi-power"></i> Log out</a></li>
    </ul>
  </div>
</div>
        <h1>Welcome, Admin</h1>
        <p> Create a new class <a href='/createclass'> here</a>.</p>
        <h2> Approve classes recommended by students: </h2>
        <table>
          <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Subject </th>
            <th> Grades </th>
            <th> Teachers </th>
            <th> Delete </th>
            <th> Approve </th>
          </tr>
        {% for class in classes %}
          <tr>
            <td> {{class[0]}} </td>
            <td> {{class[1]}} </td>
            <td> {{class[2]}} </td>
            <td> {{class[3][2:-2]}} </td>
            <td> {{class[4]}} </td>
            <td> <button onclick="deleteStudentClass({{class[0]}})">Delete class</button> </td>
            <td> <button onclick="approveClass({{class[0]}})">Approve class</button> </td>
          </tr>
        {% endfor %}
        </table>
      <script src='../static/js/classlist.js'></script>
    </body>
</html>
