<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuypedia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"/>
        <link href="../static/css/calendar.css" rel="stylesheet"/>
    </head>
    <body>
      <nav id="navbar">
        <ul id="navbar">
        <li> <a href='/home'> Home </a> </li>
        <li> <a href='/calendar'> Calendar </a> </li>
        <li> <a href='/modify'> Modify Classes </a> </li>
        <li> <a href='/findclass'> Find a class </a> </li>
        <li> <a href='/logout'> Log out </a> </li>
        </ul>
      </nav>
        <h1>Stuypedia</h1>
        <p>Task Manager & Calendar </p>
        <div class="ui container">
          <div class="ui grid">
            <div class="ui sixteen column">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src='../static/js/calendar.js'></script>
  </body>
</html>
