<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuypedia</title>
        <link href="../static/css/calendar.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Stuypedia</h1>
        <p>Task Manager & Calendar </p>
        <div id="calendar">
          <div id="calendar-header">
            <span id="month-prev" class="change-month"></span>
            <h1 id="month">May 2026</h1>
            <span id="month-next" class="change-month"></span>
          </div>

    </body>
    <p> <a href='/logout'> log out </a> </p>
</html>

<!-- Inspiration: https://codepen.io/nijin39/pen/JbQBXM --!>
<!-- Card flip animation: https://codepen.io/gabrielcolombo/pen/LGzNwq --!>
