<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuypedia</title>
        <link href="../static/css/home.css" rel="stylesheet"/>
    </head>
    <body>
      <nav id="navbar">
        <ul id="navbar">
        <li> <a href='/home'> Home </a> </li>
        <li> <a href='/calendar'> Calendar </a> </li>
        <li> <a href='/modify'> Modify Classes </a> </li>
        <li> <a href='/findclass'> Find a class </a> </li>
        <li> <a href='/logout'> Log out </a> </li>
        </ul>
      </nav>
        <h1>Find a class:</h1>
        <form method="POST">
          <input type="text" name="search" placeholder="Search for a class...">
          <button type="submit" class="btn btn-primary w-100"> Search </button>
        </form>
          {% if searched %}
          <table>
            {% for s in searched %}
            <tr>
              <td><a href='/classpage/{{s[0]}}'> {{s[1]}} </a></td>
              <td> <button type="button" class="btn btn-secondary" onclick="addClass({{s[0]}})"> Save class </button> </td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
          
          <p> Can't find a class? Click <a href='/addclass'>here</a> to add one. </p>

        <script src='../static/js/findclass.js'></script>
    </body>
</html>
