<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log in</title>
        <link href="../static/css/login.css" rel="stylesheet"/>
    </head>
	
    <body>
        <div class="left-side">
            <img src="../static/images/stuypedia_logo.png" class="logo">
        </div>

        <div class="right-side">
            <div class="login-box">
                <h1 class="login-title">LOGIN</h1>

                {% if error %}
                <p class="error-msg">{{ error }}</p>
                {% endif %}

                <form method="post" action="/login">
                    <div class="credentials">
                        <label for="username">USERNAME</label>
                        <input type="text" id="username" name="username" required>
                    </div>

                    <div class="credentials">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <input type="submit" value="LOGIN" class="login-btn">
                </form>
                <divider class="divider">or</divider>
                <a href="/auth/login" class="google-btn">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google">
                    Sign in with Google
                </a>
                <p class="signup-link">Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>

    </body>
</html>