<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stuypedia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
	
	 <link href="../static/css/home.css" rel="stylesheet"/>
    <link href="../static/css/profile.css" rel="stylesheet"/>
</head>
<body>

	
<div class="profile-container">
    <div class="profile-card">
        <div class = "profile-title"> PROFILE ⊹ </div>
        <p class="profile-email">{{ username }}</p>

        <div class="divider"></div>

        <h2>Change Password</h2>
				{% if error %}
				    <div class="error-message">
				        {{ error }}
				    </div>
				{% endif %}
				
				{% if success %}
				    <div class="success-message">
				        {{ success }}
				    </div>
				{% endif %}
		 
        <form method="POST">
            <label>Current Password</label>
            <input type="password" name="current_password" required>

            <label>New Password</label>
            <input type="password" name="new_password" required>

            <label>Confirm New Password</label>
            <input type="password" name="confirm_password" required>

            <button type="submit">Update Password</button>
        </form>
    </div>
</div>	

<div class="float-nav" id="floatNav">
    <div class="float-nav-toggle" id="floatNavToggle">
        <i class="fi-widget"></i>
    </div>
    <div class="float-nav-menu" id="floatNavMenu">
        <a href="/home" title="Home"><i class="fi-home"></i></a>
        <a href="/calendar" title="Calendar"><i class="fi-calendar"></i></a>
        <a href="/modify" title="Modify Classes"><i class="fi-pencil"></i></a>
        <a href="/findclass" title="Find a Class"><i class="fi-magnifying-glass"></i></a>
        <a href="/logout" title="Log out"><i class="fi-power"></i></a>
    </div>
</div>



<script>
document.getElementById('floatNavToggle').addEventListener('click', () => {
    document.getElementById('floatNav').classList.toggle('expanded');
});

const profileBtn = document.getElementById("profileBtn");
const profileMenu = document.getElementById("profileMenu");

profileBtn.addEventListener("click", () => {
    profileMenu.classList.toggle("show");
});

document.addEventListener("click", (profile) => {
    if (!profileBtn.contains(profile.target) &&
        !profileMenu.contains(profile.target)) {
        profileMenu.classList.remove("show");
    }
});
</script>

</body>
</html>
