<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <link href="../static/css/register.css" rel="stylesheet"/>
    </head>
    <body>

        <form method="post" action="/register">
            <div class="register-box">

                <div class="signup-left">
                    <h1 class="title">SIGN UP</h1>

                    {% if error %}
                    <p class="error-msg">{{ error }}</p>
                    {% endif %}

                    <div class="credentials">
                        <label for="username">EMAIL</label>
                        <input type="text" id="username" name="username" required>
                    </div>

                    <div class="credentials">
                        <label for="password">CREATE PASSWORD { 8+ CHARACTERS }</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <div class="credentials">
                        <label for="password2">CONFIRM PASSWORD</label>
                        <input type="password" id="password2" name="password2" required>
                    </div>

                    <input type="submit" value="SUBMIT" class="submit-btn">

                  <p class="login-link"> Already have an account? <a href="/login"> Log in</a></p>
                </div>

            
                <div class="authentification">
                    <h2 class="title">AUTHENTIFICATION</h2>

                    <div class="question-row">
                        <span>WHAT FLOOR IS THE CAFETERIA ON?</span>
                        <select name="q1" id="q1">
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                            <option value="six">Six</option>
                        </select>
                    </div>

                    <div class="question-row">
                        <span>WHAT FLOOR IS THE LIBRARY ON?</span>
                        <select name="q2" id="q2">
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                            <option value="six">Six</option>
                        </select>
                    </div>

                    <div class="question-row">
                        <span>WHAT FLOOR IS THE JUNIOR ATRIUM ON?</span>
                        <select name="q3" id="q3">
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                            <option value="six">Six</option>
                        </select>
                    </div>

                    <div class="question-row">
                        <span>WHAT FLOOR IS THE SOPHOMORE BAR ON?</span>
                        <select name="q4" id="q4">
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                            <option value="six">Six</option>
                        </select>
                    </div>

                    <label class="checkbox-label">
                        <input type="checkbox" id="testimony" name="testimony" required>
                        <span>I TESTIFY THAT I AM A STUYVESANT STUDENT AND UNDERSTAND THAT ONLY STUYVESANT STUDENTS MAY SIGN UP.</span>
                    </label>

                    <div class="corner-logo">
                       <img src="../static/images/stuypedia_logo.png" class="logo">
                    </div>
                </div>

            </div>
        </form>

    </body>
</html>
