<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <link href="../static/css/register.css" rel="stylesheet"/>

    </head>
    <body>
      <div>
        <div>
          <p>
            Welcome to Stuypedia! To sign up, you <b> must be a Stuy student </p>. For authentication, enter your nycstudents email and answer the following questions. Once you sign up, you will be given an anonymous username so that you don't have to worry about anonimity.
          </p>
        </div>
        <p> {{error}} </p>
        <form method="post" action="/register">
          <label for="username">Email (nycstudents):</label>
          <input type="text" id="username" name="username" required>
          <br>
          <label for="password">Create password (8+ characters):</label>
          <input type="password" id="password" name="password" required>
          <br>
          <label for="password2"> Retype same password: </label>
          <input type="password2" id="password2" name="password2" required>

          <p> Now a series of questions to verify that you are a Stuy student: </p>
          <label for="q1">What floor is the cafeteria on? </label>
          <select name="q1" id="q1">
            <option name="one"> One </option>
            <option name="two"> Two </option>
            <option name="three"> Three </option>
            <option name="four"> Four </option>
            <option name="five"> Five </option>
            <option name="six"> Six </option>
          </select>
          <br>

          <label for="q1">What floor is the library on? </label>
          <select name="q2" id="q2">
            <option name="one"> One </option>
            <option name="two"> Two </option>
            <option name="three"> Three </option>
            <option name="four"> Four </option>
            <option name="five"> Five </option>
            <option name="six"> Six </option>
          </select>
          <br>

          <input type="submit" value="submit">
        </form>
      </div>
    </body>
  </html>
